name: Release

on:
  workflow_run:
    workflows: [Test Example App]
    types: [completed]
    branches:
      - main
      - next

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    defaults:
      run:
        working-directory: ./packages/router
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_branch }}

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          registry-url: https://registry.npmjs.org/

      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
        working-directory: .
      - run: npm run build
      - run: npm audit signatures
      - name: Release
        if: github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
