name: Release

on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches:
      - main
      - next

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_branch }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          registry-url: https://registry.npmjs.org/

      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm audit signatures
      - run: git config user.name "Henri Hulski"
      - run: git config user.email "henri@sancode.it"
      - name: Release packages
        if: github.event_name != 'pull_request'
        run: npm run release
        env:
          REPO_COOKER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
